<ion-modal-view>
  <<ion-header-bar align-title="left" class="bar-positive">
    <h1 class="title">Nova tarefa</h1>
    <div class="buttons">
      <button class="button ion-close" ng-click="modal.hide()"></button>
    </div>
  </ion-header-bar>
  <<ion-content class="padding">
    <div class="list">
      <label class="item item-input">
        <span class="input-label">Task</span>
        <input type="text" ng-model="formTaskList.task">
      </label>
      <button type="button" class="button button-full button-positive" ng-click="addTaskList()">Salvar</button>
    </div>
  </ion-content>
</ion-modal-view>
