      <ion-view view-title="Consulta Correios">  
        <ion-content class="padding" overflow-scroll="false">
          <br/><br/>        
          <a nav-transition="android" href="#/cep">
            <button class="button button-full button-dark ion-android-search">
              Busca por CEP
            </button>
          </a>
          <br/><br/>        
          <a nav-transition="android" href="#/logradouro">
            <button class="button button-full button-dark ion-android-search">
              Busca por Logradouro
            </button>
          </a>
        </ion-content>
      </ion-view>
